#chess-board .chess-row:nth-of-type(odd)
.chess-square:nth-child(even),
#chess-board .chess-row:nth-of-type(even)
.chess-square:nth-child(odd) {
  background-color: var(--dark-gray);
}

#chess-board .chess-row .chess-square {
  position: relative;
}

#chess-board .chess-row .chess-square button,
#chess-board .chess-row .chess-square .overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

#chess-board .chess-row .chess-square .overlay.last-movement {
  background-color: var(--light-blue);
}
#chess-board .chess-row .chess-square .overlay.possible-movement {
  background-color: var(--light-green);
  cursor: pointer;
  z-index: 3;
}
#chess-board .chess-row .chess-square .possible-movement.drop-zone,
#chess-board .chess-row .chess-square .possible-movement:hover {
  filter: brightness(.5);
}

#chess-board .chess-row .chess-square span {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

#chess-board .chess-row .chess-square button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: not-allowed;
  z-index: 2;
}

#chess-board .chess-row .chess-square button.player-of-turn {
  cursor: grab;
}

#chess-board .chess-row .chess-square button img {
  width: 100%;
  height: 100%;
}