.dead-pieces, #chess-board {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dead-pieces {
  display: flex;
}

.dead-pieces section {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 400px;
}

.dead-pieces section button {
  height: 12.5%;
  cursor: default;
}
.dead-pieces section button img {
  height: 100%;
}